.gradle/config.properties
.gradle/file-system.probe
.gradle/8.9/gc.properties
.gradle/8.9/checksums/checksums.lock
.gradle/8.9/checksums/md5-checksums.bin
.gradle/8.9/checksums/sha1-checksums.bin
.gradle/8.9/dependencies-accessors/gc.properties
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/metadata.bin
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidPluginAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxActivityLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxComposeLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCoreLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxEspressoLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleRuntimeLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleViewmodelLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxNavigationLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiTestLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiToolingLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$ConverterLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$KoinAndroidxLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$KoinLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$KoinTestLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$KoinVersionAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinPluginAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinxCoroutinesLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinxCoroutinesVersionAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinxLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinxVersionAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$KtorBundleAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$KtorClientContentLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$KtorClientLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$KtorLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$KtorSerializationLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$LoggingLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$MqttLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$MqttVersionAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$Retrofit2KotlinxLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$Retrofit2KotlinxSerializationLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$Retrofit2LibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibs.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidPluginAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxActivityLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxComposeLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCoreLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxEspressoLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleRuntimeLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleViewmodelLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxNavigationLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiTestLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiToolingLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$ConverterLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KoinAndroidxLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KoinLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KoinTestLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KoinVersionAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinPluginAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinxCoroutinesLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinxCoroutinesVersionAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinxLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinxVersionAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KtorBundleAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KtorClientContentLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KtorClientLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KtorLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KtorSerializationLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$LoggingLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$MqttLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$MqttVersionAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$Retrofit2KotlinxLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$Retrofit2KotlinxSerializationLibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$Retrofit2LibraryAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
.gradle/8.9/dependencies-accessors/09c32af26dc1b8a0249d13c022ab7a6393f29fe9/sources/org/gradle/accessors/dm/LibrariesForLibs.java
.gradle/8.9/executionHistory/executionHistory.bin
.gradle/8.9/executionHistory/executionHistory.lock
.gradle/8.9/fileChanges/last-build.bin
.gradle/8.9/fileHashes/fileHashes.bin
.gradle/8.9/fileHashes/fileHashes.lock
.gradle/8.9/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/caches/deviceStreaming.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules/app/Sample.app.iml
